@import 'colors';

#separator {width: 3px}
#solution-label {
    left: 25px;
    top: 22px;
}
#edit-icon {
    top: 45px;
    left: 29px;
}
.widget-button {
    top: 20px;
    left: 18px;
}
#log-in-request {
    top: 5px;
    left: 100px;
}
#spinner {
    top: 90px;
    left: 210px;
}
#grid {height: 280px}
.shrunk{width: 420px}
.fullWidth{width: 520px}
.width-98px {width: 98px}

