<div id="about-page" class="standard-padding">

    <div class="flex-row">

        <div>
            <img alt="ezra full picture" src="assets/svg-images/about-page/ezra-full-picture.svg">
            <div class="spacer-40"></div>
            <div class="spacer-40"></div>
            <img alt="robot reading" src="assets/svg-images/about-page/robot-reading.svg">
        </div>

        <div id="my-story" class="flex-column p4 light-black-text">
            <div class="faint-white-bg padding-left-15">
                <p class="p3 bold linear-text">Education</p>
                <div class="spacer-10"></div>

                <p>
                    I graduated from high school in November, 2017. I attained 77 out of a possible 84 points
                    in the KCSE examination - the standard High School Graduation Exam in Kenya, East Africa.
                </p>
                <div class="spacer-10"></div>

                <p>
                    I joined The University of Jamestown in August, 2019 as a college freshman. I set out on
                    a path towards a bachelor of arts degree in Computer Science back then and I will be
                    winding up on it in May, 2023.
                </p>
                <div class="spacer-10"></div>

                <p>
                    Curiosity, complemented with a genuine appreciation (if not love) for mathematics
                    convinced me to commit a Mathematics minor. I am working towards an IT minor as well.
                </p>
                <div class="spacer-10"></div>
            </div>

            <div class="faint-white-bg padding-left-15">
                <p class="p3 bold linear-text">Professional Development</p>
                <div class="spacer-10"></div>

                <p>
                    What started as a teenager watching random coding videos on youtube is gradually being
                    transformed into an incredibly fulfilling career. At first it was all about simple coding
                    concepts and that domain has only widened since then.
                </p>
                <div class="spacer-10"></div>

                <p>
                    I completed my first internship was in the summer of 2021 at BCBSND, an insurance provider
                    based in Fargo ND. Bit by bit I was exposed to the underlying business functionality
                    that creates demand for software. I left with a greater understanding of how different
                    organizational departments, including IT, work together to provide solutions to their
                    clients.
                </p>
                <div class="spacer-10"></div>

                <p>
                    My second internship happened through the summer of 2022 at NISC, a technology cooperative
                    based in Mandan ND. Here I gained thorough exposure to cutting edge technologies such as
                    Jira, Bitbucket, Angular, Liquibase, etc.
                </p>
                <div class="spacer-10"></div>
            </div>

            <div class="faint-white-bg padding-left-15">
                <p class="p3 bold linear-text">Aspiration</p>
                <div class="spacer-10"></div>

                <p>
                    My journey has barely started since there is a whole world to conquer. Or is it to save?
                    Maybe to change? I am not certain on that but there is a world for sure!
                </p>
                <div class="spacer-10"></div>

                <p>
                    To nurture as well as exploit my love for mathematics, without jeopardizing the newfound
                    affection for computer technology, I intend to pursue advanced education in Machine Learning.
                    With the discipline of ML becoming more common (sometimes essential) year after year, I am
                    certain that there is world out there to revolutionize!
                </p>
                <div class="spacer-10"></div>
            </div>

        </div>

    </div>

</div>