<div class="standard-padding">
    <div id="main-introduction" class="flex-row">
        <div id="ezra-introduction-text">

            <p class="p-72px bold sharp-black-text">My Name is Ezra,</p>
            <p class="p-72px bold linear-text">A Versatile</p>
            <p class="p-72px bold sharp-black-text">Developer</p>
            <div class="spacer-10px"></div>

            <p class="p-20px light-black-text">I love Science, Technology and Mathematics.</p>
            <p class="p-20px light-black-text">Building a career out of an hobby is among the best</p>
            <p class="p-20px light-black-text">things that I have done for myself.</p>
            <div class="spacer-50px"></div>

            <div id="open-projects" class="clickable" [routerLink]="'/' + pages.PROJECTS">
                <div id="linear-button-shadow" class="rectangle linear-fill"></div>
                <div id="solid-button-rect" class="rectangle faint-white-bg"></div>
                <div id="open-projects-button" class="flex-row">
                    <div class="p-20px sharp-black-text">Check out my cool projects!</div>
                    <div>
                        <img src="assets/svg-images/home-page/arrow-right-black.svg" alt="arrow pointing right">
                    </div>
                </div>
            </div>
        </div>

        <div id="ezra-main-picture-container">
            <div id="bg-ellipse">
                <img src="assets/svg-images/home-page/homepage-background-ellipse.svg" alt="halved ellipse">
            </div>
            <div id="ezra-main-picture">
                <img src="assets/svg-images/home-page/ezra-homepage-picture.svg" alt="ezra main picture">
            </div>
        </div>
    </div>

    <div class="horizontal-line sharp-black-bg"></div>
    <div class="spacer-10px"></div>

    <p class="p-48px bold light-black-text centered-text">Ezra At <span class="linear-text">A Glance</span></p>
    <div class="spacer-10px"></div>

    <div id="ezra-at-a-glance" class="p-18px light-black-text flex-row">
        <div>
            <img src="assets/svg-images/home-page/graduation-hat.svg" alt="graduation hat svg">
            <div class="spacer-10px"></div>

            <p class="p-24px bold">Ezra The Student</p>
            <div class="spacer-10px"></div>

            <p class="gray-text-on-white-bg">Pursuing a Bachelor of Arts Degree</p>
            <p class="gray-text-on-white-bg">at the <span class="bold linear-text">University of Jamestown.</span></p>

            <ul>
                <li>Computer Science Major</li>
                <li>Mathematics Minor</li>
                <li>College Fellow in CS</li>
                <li>The Freshman CS Award</li>
            </ul>
        </div>

        <div>
            <img src="assets/svg-images/home-page/programmer.svg" alt="programmer svg">
            <div class="spacer-10px"></div>

            <p class="p-24px bold">Ezra The Developer</p>
            <div class="spacer-10px"></div>

            <p class="gray-text-on-white-bg">My hobby, my joy, and my dreams</p>
            <p class="gray-text-on-white-bg">brought together</p>

            <ul>
                <li>Software  intern  (BCBSND)</li>
                <li>Application Dev Intern (NISC)</li>
                <li>Service Now Developer (BCBSND)</li>
            </ul>
        </div>

        <div>
            <img src="assets/svg-images/home-page/boy-playing-soccer.svg" alt="boy playing soccer svg">
            <div class="spacer-10px"></div>

            <p class="p-24px bold">Ezra The Person</p>
            <div class="spacer-10px"></div>

            <p class="gray-text-on-white-bg">I know I described development as a</p>
            <p class="gray-text-on-white-bg">hobby. But wait, there is more!</p>

            <ul>
                <li>Ezra loves soccer</li>
                <li>World news and politics </li>
                <li>Action thrillers make my weekends</li>
                <li>I will rant about technology</li>
            </ul>
        </div>

    </div>
</div>