<div class="standard-padding p-24px">
    <div class="spacer-40px"></div>

    <div class="half-width height-120">
        <div class="colored-text linear-gradient"><span class="p-40px">Here </span>you will find solutions that I developed for </div>
        <div class="sharp-black-text">specific needs in and around my environment.</div>
    </div>

    <div class="half-width height-120 centered-div">
        <div class="colored-text linear-gradient"><span class="p-40px">While </span>you can use some applications as a guest, </div>
        <div class="sharp-black-text">there are those that are only meaningful when you </div>
        <div class="sharp-black-text">have a registered account. </div>
    </div>

    <div class="flex-row right-aligned-div">
        <div class="half-width height-120">
            <div class="colored-text linear-gradient"><span class="p-40px">Make </span>sure to read the about of an </div>
            <div class="sharp-black-text">application so you understand it better!</div>
        </div>
    </div>

    <div class="p-inputgroup">
        <input placeholder="Enter Keyword..." type="text" pInputText [(ngModel)]="searchText">
        <span class="p-inputgroup-addon">
            <span class="p-inputgroup-addon">
                <i class="pi pi-search"></i>
            </span>
        </span>
    </div>
    <div class="spacer-50px"></div>

    <div *ngIf="(loggedIn$ | async) && (isAdmin$ | async)" class="flex-row right-aligned-div bold">
        <shr-button [text]="'+ New Solution'"
                    [size]="buttonSize"
                    [textColor]="buttonTextColor"
                    [routerLink]="['/' + pages.SOLUTION_FORM]"
                    [queryParams]="{index: getNextIndex() | async}">
        </shr-button>
    </div>
    <div class="spacer-40px"></div>

    <div *ngIf="(solutionCount$ | async)! < 1" class="centered-div half-width">
        <p-message severity="info"
                   text="Sorry, we will upload some applications here soon. Check back later, buddy :)">
        </p-message>
    </div>

    <div id="gallery" class="flex-row">
        <div *ngFor="let solution of ((solutions$ | async) | filter : searchText : filterWidgets)">
            <slp-solution-widget [solution]="solution"
                                 [loading]="solutionsLoading$ | async"
                                 [isLoggedIn]="(loggedIn$ | async) ?? false"
                                 [isAdmin]="(isAdmin$ | async) ?? false">
            </slp-solution-widget>
        </div>
        
    </div>
    
    <div class="spacer-50px"></div>

</div>