@import 'src/shared/colors';

#lower-top-bar {height: 95px}
#user-identifier {width: 12%}
#navigation-section a {font-weight: 500}

#top-bar {
  height: 100px;
  padding: 30px 0;
}
#top-bar-content{
  height: 40px;
  width: 100%;
}
#navigation-section {
  width: 25%;
  gap: 32px;
}
#lower-top-bar-content {
  height: 75px;
  margin: 15px 0 5px 0;
}