#user-identifier {
  gap: 5%;
  justify-content: left;
}
#profile-icon {
  position: relative;
  width: 22%;
  height: 100%;
}
#first-initial {
  position: absolute;
  top: 6px;
  left: 35%;
  height: 20px;
}
#username {line-height: 40px}