/* You can add global styles to this file, and also import other style files */
@import 'src/shared/colors.scss';

* {box-sizing: border-box}
html {font-family: 'Plus Jakarta Sans', sans-serif}
p {margin: inherit;}
.bold {font-weight: 700}
.semi-bold {font-weight: 400}
.p1 {font-size: 72px}
.p2 {font-size: 48px}
.p3 {font-size: 24px}
.p4 {font-size: 20px}
.p5 {font-size: 18px}
.p6 {font-size: 16px}
.black-background {background: $sharpBlack}
.white-background {background: $brightWhite}
.spacer {height: 10px}
.spacer-50 {height: 50px}
.sharp-black-text {color: $sharpBlack}
.light-black-text {color: $lightBlack}
.faint-white-text {color: $faintWhite}
.gray-on-black-text {color: $grayOnBlack}
.gray-on-white-text {color: $grayOnWhite}
.centered-text {text-align: center}
.left-aligned-text {text-align: left}
.centered-div {margin: auto}
.standard-padding {padding: 0 120px}
.linear-fill {background: linear-gradient(90deg,$linearLeft 0%, $linearRight 70%)}
.faint-white-fill {background: $faintWhite}
.thick-white-border {border: 5px solid $brightWhite}
.clickable {cursor: pointer}

a {
  text-decoration: none;
  color: inherit;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.linear-text {
  background: linear-gradient(90deg, $linearLeft 0%, $linearRight 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.horizontal-line {
  height: 1px;
  width: 100%;
}